body {
    font-family: 'Arimo', sans-serif;
    text-align: center;
    background-color: aquamarine;
    width: auto;
    padding: auto;
}

.container-fluid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5px;
    width: auto;
    padding: auto;
}

.col {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

#timer{
    flex-direction: column;
    justify-content: right;
 


}